In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.session import SparkSession
from splink import Splink
from splink.jar_fallback import jw_sim_py

In [2]:

print("PySpark Application Started")

spark = SparkSession \
    .builder \
    .appName("Splink") \
    .master("local[*]") \
    .getOrCreate()

print(spark.sparkContext.appName)

df = spark.read.option("header", "true").csv("/home/abhishekks446/Downloads/Financial-Data3decimal.csv").withColumnRenamed("Entry_id","unique_id")

PySpark Application Started

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.1.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/10/12 19:12:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Splink

In [5]:
df=df.na.fill("").limit(1000)
df.show()

+---------+---+------------+----------+------+----------------+----------+------------+------------+------------+------------+-----------------+-------------------+--------------------+--------+
|unique_id|age|pay_schedule|home_owner|income|amount_requested|risk_score|risk_score_2|risk_score_3|risk_score_4|risk_score_5|ext_quality_score|ext_quality_score_2|inquiries_last_month|e_signed|
+---------+---+------------+----------+------+----------------+----------+------------+------------+------------+------------+-----------------+-------------------+--------------------+--------+
|  7629673| 40|   bi-weekly|         1|  3135|             550|     36200| 0.737398319| 0.903517238|   0.4877125| 0.515976695|         0.580918|           0.380918|                  10|       1|
|  3560428| 61|      weekly|         0|  3180|             600|     30150| 0.738510084| 0.881026665| 0.713423437| 0.826401956|          0.73072|            0.63072|                   9|       0|
|  6934997| 23|      weekly|         0|  1540|             450|     34550| 0.642993277|  0.76655369| 0.595017969| 0.762283825|         0.531712|           0.531712|                   7|       0|
|  5682812| 40|   bi-weekly|         0|  5230|             700|     42150| 0.665223529| 0.960832286| 0.767828125| 0.778830826|         0.792552|           0.592552|                   8|       1|
|  5335819| 33|semi-monthly|         0|  3590|            1100|     53850| 0.617361345| 0.857559706| 0.613486719| 0.665523488|         0.744634|           0.744634|                  12|       0|
|  8492423| 21|      weekly|         0|  2303|             600|     74850| 0.677109244| 0.758765039| 0.495609375| 0.664761939|         0.592556|           0.492556|                   6|       1|
|  7948313| 26|   bi-weekly|         0|  2795|             800|     50800| 0.738054622| 0.873204345| 0.666436719| 0.700392155|          0.58413|            0.68413|                  14|       1|
|  4297036| 43|   bi-weekly|         0|  5000|            1100|     69100| 0.798303361| 0.841746723| 0.401971094| 0.568787109|         0.525905|           0.725905|                   5|       1|
|  6493191| 32|semi-monthly|         0|  5260|            1150|     64050| 0.652428571| 0.802433112| 0.593815625| 0.560388681|         0.569459|           0.369459|                   3|       1|
|  8908605| 51|   bi-weekly|         1|  3055|             600|     59750| 0.624665546| 0.968564823|  0.50991875| 0.749624146|         0.758607|           0.758607|                   5|       1|
|  8990111| 61|   bi-weekly|         1|  3270|             400|     61700| 0.659736134| 0.937286766| 0.852323438|   0.7856976|         0.632466|           0.732466|                   7|       0|
|  3818616| 34|      weekly|         0|  3877|             800|     55550| 0.802788235| 0.900083049| 0.746076563|  0.79131937|         0.807174|           0.507174|                  10|       1|
|  6889184| 56|   bi-weekly|         0|  3555|             900|     64500| 0.640915126| 0.869770156| 0.699680469| 0.706527329|         0.752686|           0.452686|                  10|       1|
|  6817588| 24|   bi-weekly|         0|  2135|            1000|     63000| 0.549034454| 0.739686209| 0.484734375| 0.558979388|         0.454199|           0.454199|                   8|       1|
|  6235249| 50|   bi-weekly|         0|  3700|             500|      2800| 0.467041176| 0.809312713| 0.624903906| 0.621840535|         0.462823|           0.462823|                  16|       1|
|  8149720| 61|   bi-weekly|         0|  6110|             900|     76350| 0.739293277| 0.958587718| 0.717289063| 0.816048315|         0.495346|           0.495346|                   2|       1|
|  9375601| 29|   bi-weekly|         0|  1515|             400|     56600| 0.744604202| 0.852992009| 0.340332813| 0.533660885|         0.374144|           0.374144|                   6|       0|
|  7611317| 58|      weekly|         1|  3675|             400|     29150| 0.691880672| 0.833958071| 0.765911719| 0.754194294|         0.824777|           0.624777|                   9|       1|
|  8515555| 36|   bi-weekly|         0|  1520|             900|     35600| 0.647352941| 0.879915604|   0.5753625| 0.613068177|         0.716315|           0.616315|                   9|       1|
|  4083808| 42|semi-monthly|         0|  4780|             400|     35400| 0.539069748| 0.867716376| 0.302844531| 0.506524933|          0.61838|            0.61838|                   8|       1|
+---------+---+------------+----------+------+----------------+----------+------------+------------+------------+------------+-----------------+-------------------+--------------------+--------+
only showing top 20 rows

In [6]:
df.count()

1000

In [20]:
settings = {
    "link_type": "dedupe_only",
    "blocking_rules": [
        "l.pay_schedule = r.pay_schedule "

    ],
    "comparison_columns": [

        {
            "col_name": "pay_schedule"
        },
        {
            "col_name": "risk_score_2",
            "num_levels": 4
        }
    ]
}

linker = Splink(settings,df, spark)
df_e = linker.get_scored_comparisons()

In [21]:
df_1=df_e.toPandas().sort_values("match_probability", ascending=False)

In [22]:
df_1.count()

match_weight          214062
match_probability     214062
unique_id_l           214062
unique_id_r           214062
pay_schedule_l        214062
pay_schedule_r        214062
gamma_pay_schedule    214062
risk_score_2_l        214062
risk_score_2_r        214062
gamma_risk_score_2    214062
dtype: int64

In [23]:
df_1.head(20)

,match_weight,match_probability,unique_id_l,unique_id_r,pay_schedule_l,pay_schedule_r,gamma_pay_schedule,risk_score_2_l,risk_score_2_r,gamma_risk_score_2
29272,4.754888,0.964286,3231870,9742389,bi-weekly,bi-weekly,1,0.688936975,0.688936975,3
71495,1.947533,0.794118,1906268,3601378,bi-weekly,bi-weekly,1,0.724929412,0.528929412,2
18432,1.947533,0.794118,3337988,4694254,bi-weekly,bi-weekly,1,0.624726891,0.623026891,2
41856,1.947533,0.794118,6737150,9972182,bi-weekly,bi-weekly,1,0.768494958,0.76464958,2
161377,1.947533,0.794118,2626256,4838692,bi-weekly,bi-weekly,1,0.795110084,0.735910084,2
98368,1.947533,0.794118,1566038,7254661,semi-monthly,semi-monthly,1,0.633319328,0.631319328,2
39725,1.947533,0.794118,3003105,7658216,bi-weekly,bi-weekly,1,0.629668067,0.679668067,2
103263,1.947533,0.794118,5023159,9438177,bi-weekly,bi-weekly,1,0.580763025,0.785763025,2
106132,1.947533,0.794118,4788815,5935289,bi-weekly,bi-weekly,1,0.736963025,0.838963025,2
107945,1.947533,0.794118,3106804,4733044,bi-weekly,bi-weekly,1,0.626267227,0.612267227,2
158266,1.947533,0.794118,1801406,6682086,weekly,weekly,1,0.696694118,0.665694118,2
78683,1.947533,0.794118,2920619,8962654,weekly,weekly,1,0.629317647,0.626717647,2
125805,1.947533,0.794118,7386875,8908605,bi-weekly,bi-weekly,1,0.621465546,0.624665546,2
73794,1.947533,0.794118,6024295,8990111,bi-weekly,bi-weekly,1,0.605736134,0.659736134,2
184629,1.947533,0.794118,2554104,6466820,bi-weekly,bi-weekly,1,0.703578992,0.775578992,2
76642,1.947533,0.794118,7567357,9276506,bi-weekly,bi-weekly,1,0.686431092,0.688231092,2
196270,1.947533,0.794118,8234352,8460546,bi-weekly,bi-weekly,1,0.74032437,0.74872437,2
18818,1.947533,0.794118,3800876,8445226,bi-weekly,bi-weekly,1,0.657710084,0.633710084,2
156087,1.947533,0.794118,4651021,8005018,weekly,weekly,1,0.71957563,0.781907563,2
156369,1.947533,0.794118,2224386,4694254,bi-weekly,bi-weekly,1,0.629226891,0.623026891,2

In [ ]:
settings = {
    "link_type": "dedupe_only",
    "comparison_columns": [

        {
            "col_name": "title",
            "num_levels": 3,
            "term_frequency_adjustments": True
        },
        {
            "col_name": "year"
        },
        {
            "col_name": "venue"
        }
    ],
    "em_convergence": 0.01,
    "max_iterations": 4,
}

linker = Splink(settings,df, spark)
df_e = linker.get_scored_comparisons()

In [ ]:
df_2=df_e.toPandas().sort_values("match_probability", ascending=False)

In [ ]:
df_2.count()

In [ ]:
df_2.head(10)